@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
body{
    font-family: "Sora", sans-serif;
    background-color: #DCE5F3;
}
:root{
    --DeepBlue:  #0E2954;
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
}